{{ $jquery     := resources.Get "js/jquery.js" | resources.Minify | fingerprint }}
{{ $serverMode := site.IsServer }}
{{ $jsOut      := "js/bundle.js" }}
{{ $isDoc      := eq .Section "docs" }}
{{ $jsFiles    := site.Params.jsFiles }}
{{ $jsAll      := (slice) }}
{{ range $jsFiles }}
{{ $path := printf "js/%s.js" . }}
{{ $js   := resources.Get $path }}
{{ $jsAll = $jsAll | append $js }}
{{ end }}
{{ $jsBundle := $jsAll | resources.Concat $jsOut | resources.Minify }}
<script src="{{ $jquery.RelPermalink }}" integrity="{{ $jquery.Data.Integrity }}"></script>


{{ if $serverMode }}
<script src="{{ $jsBundle.RelPermalink }}"></script>
{{ else }}
{{ $prodJsBundle := $jsBundle | fingerprint }}
<script src="{{ $prodJsBundle.RelPermalink }}" integrity="{{ $prodJsBundle.Data.Integrity }}"></script>
{{ end }}